/* Container principal */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.4rem 1rem;
  background-color: var(--background-footer);
  border-radius: 0.8rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo à esquerda */
/* .navbar-left {
  flex: 1;
} */

.logo {
  max-height: 1.6rem;
  object-fit: contain;
  float: left;
}

.logo-link {
  padding: 0;
}

/* Botão hamburguer */
.menu-toggle {
  display: none;
  font-size: 1.6rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Links centralizados */
.nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.ativo {
  background-color: var(--activate-navbar);
  color: black;
}

/* Responsivo para mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
    align-self: flex-end;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 0.4rem;
    justify-content: flex-start;
  }

  .nav-links.ativo {
    display: flex;
  }
}
