form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  font-weight: bold;
  margin: 0 auto;
  padding: 24px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--form-box-shadow);
}

input {
  background-color: var(--input-bg);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);
  transition: border-color 0.3s ease, background-color 0.3s ease;
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input:focus {
  outline: none;
  border-color: var(--primary-color);
  background-color: (--input-bg);
}

input.erro {
  border-color: var(--input-error);
  background-color: var(--input-bg);
}

span.erro {
  color: var(--input-error);
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 4px;
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-dark);
}

button:active {
  transform: scale(0.98);
}
