.navbar {
  position:sticky;
  justify-content: center;
  top: 0;
  background-color: var(--background-footer);
  padding: 0.4rem;
  display: flex;
  gap: 1.6rem;
  border-radius: 1.2rem;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 1.6rem;
  object-fit:cover;
}

.logo-link {
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.ativo {
  background-color: #00bcd4;
  color: black;
}

