html {
  background-image: url(./assets/kumon.jpg);
}

.app-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
}

.cliente-section,
.nfe-section {
  margin-bottom: 48px;
}

h1 {
  text-align: center;
  margin-bottom: 32px;
}

h2 {
  margin-top: -14px;
  margin-bottom: 16px;
  border: 1px solid white;
  width: 16rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px var(--form-box-shadow);
}
